<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title>Etca - Home</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>
<div th:include="fragments/header :: header">Header</div>

<div class="container">
	<p>Home Page</p>
</div>

<div th:include="fragments/footer :: footer">Footer</div>
</body>
</html>