<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title>Words</title>

    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header">Header</div>

<div class="container">
	<p>Words page</p>
</div>

<div th:insert="fragments/footer :: footer">Footer</div>
</body>
</html>