<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8"/>
    <title>Header Page</title>
</head>
<body>

<div th:fragment="header">
	<nav class="cyan darken-2" style="margin-bottom:10px;">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Etca</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a th:href="@{/lesson/}">Lessons</a>
				</li>
				<li>
					<a th:href="@{/grammar/}">Grammar</a>
				</li>
				<li>
					<a th:href="@{/word/}">Words</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
</body>
</html>