<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title>Create a new word</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header">Header</div>

<div class="container">
	<form th:action="@{/word/create-word}" method="post" th:object="${wordForm}" class="row">
		<div class="input-field col s12 m12">
			<input type="text" name="word" placeholder="Word" th:field="*{word}" />
			<label for="word">Word</label>
			<p th:if="${#fields.hasErrors('word')}" th:errors="*{word}">Word can not be blank</p>
		</div>
		<div class="input-field col s12">
			<p>Choose a language:</p>
			<select th:field="*{language}">
				<option 
					th:each="language : ${languages}" 
					th:value="${language.id}" 
					th:text="${language.language}">Language</option>

			</select>

			<p th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language does not exist</p>
		</div>
		<div class="input-field col s12 m12">
			<p>Choose a level:</p>
			<select th:field="*{level}">
				<option 
					th:each="level : ${levels}" 
					th:value="${level.id}"
					th:text="${level.title}">Word Level</option>
			</select>

			<p th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Incorrect level selected</p>
		</div>

		<button type="submit" class="btn cyan darken-2">Create word</button>
	</form>
</div>

<div th:insert="fragments/footer :: footer">Footer</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("select").formSelect();
	});
</script>
</body>
</html>