<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title>Create a new Lesson</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header">Header</div>

<div class="container">
	<form th:action="@{/lesson/create}" th:object="${form}" method="post" class="row">
		<div class="input-field col s12">
			<label for="title">Title</label>
			<input 
				type="text" 
				name="title" 
				placheolder="Lesson Title" 
				th:field="*{title}" 
				required
				/>
		</div>
		<div class="input-field col s12">
			<p >Choose Language</p>
			<select th:field="*{language}">
				<option 
					th:each="language : ${languages}"
					th:value="${language.id}"
					th:text="${language.language}">Language</option>
			</select>
		</div>
		<div class="input-field col s12">
			<p>Choose Level</p>
			<select th:field="*{level}">
				<option
					th:each="level : ${levels}"
					th:value="${level.id}"
					th:text="${level.title}"
					>
					Level
				</option>
			</select>
		</div>
		<div class="input-field col s12">
			<textarea 
				id="content" 
				class="materialize-textarea" 
				th:field="*{content}"></textarea>
				
			<label for="content">Lesson Content</label>
		</div>
		<ul>
			<li th:each="s, stat : *{sentences}" >
				<div class="input-field col s6">
					<input type="text" 
						th:name="|sentences[${stat.index}].text|"
						th:value="${s.text}"
						th:field="*{sentences[__${stat.index}__].text}"
						placeholder="Sentence Text"
						required
						/>
				</div>
				<div class="input-field col s6">
					<input 
						type="text" 
						th:name="|sentences[${stat.index}].translation|"
						th:value="${s.translation}"
						th:field="*{sentences[__${stat.index}__].translation}"
						placeholder="Translation"
						required
						/>
				</div>
			</li>
		</ul>
		<button type="submit" class="btn cyan darken-2">Save Lesson</button>
	</form>
</div>

<div th:insert="fragments/footer :: footer">Footer</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("select").formSelect();
	});
</script>
</body>
</html>