<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <base href="/lesson">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title 
    	th:text="${lesson}? ${lesson.title} : 'Lesson not found'"
    	>Lesson - </title>

    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header">Header</div>

<app-root></app-root>

<div class="container" th:unless="${lesson}">
	<a th:href="@{/lesson/all}">All lessons</a>
</div>

<script type="text/javascript" src="/js/lesson-ui-runtime.js"></script><script type="text/javascript" src="/js/lesson-ui-es2015-polyfills.js" nomodule></script><script type="text/javascript" src="/js/lesson-ui-polyfills.js"></script><script type="text/javascript" src="/js/lesson-ui-main.js"></script>

<div th:insert="fragments/footer :: footer">Footer</div>
</body>
</html>